{% extends 'base/base_index_min.html' %}

{% block titulo %}Redefinição senha{% endblock %}

{% block subtitulo_da_pagina %}Redefinição da senha{% endblock %}

{% block conteudo %}

    {% include 'base/_messages.html' %}

    <p>Um email foi enviado com instruções para configurar sua senha.
        Se uma conta existe com o email fornecido,
        você receberá a mensagem em breve.
    </p>

    <p>Se você não recebeu um email, por favor certifique-se que
        forneceu o endereço que você está cadastrado,
        e verifique sua pasta de spam.
    </p>

    <div>
        <a class="btn btncustom btn-primary mr-2" href="{% url 'index' %}">Início</a>
    </div>

{% endblock %}
