{% extends 'base/base_index_min.html' %}
{% load static %}

{% block titulo %}Apagar Playlist{% endblock %}

{% block subtitulo_da_pagina %}
    Tem a certeza que deseja apagar a Playlist
    <br><br><br>
    {{ object.playlist_nome }} ?
{% endblock %}

{% block conteudo %}

    <div class="apagar-canal">
        <form method="POST" class="form" name="form_canal">
            {% csrf_token %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary btncustom shadow-lg mr-2" name="btn_cadastro_canal">Sim</button>

                <a class="btn btn-primary btncustom shadow-lg mr-1" role="button" href="{% url 'playlist-detail' object.pk %}">Cancelar</a>
            </div>
        </form>

    </div>

{% endblock %}