<div class="row">

    <div class="col custom-col col-md-4">
    </div>


    <div class="col custom-col">
        <a class="d-inline btn btncustom btn-outline-secondary border " href="{% url 'playlist-index' %}">PlayLists</a>
        <a class="d-inline btn btncustom btn-outline-secondary border " href="{% url 'index' %}">Canais</a>
        <a class="d-inline btn mr-5 btn-outline-secondary border" data-toggle="modal" data-target="#modalExemplo">Nova Categoria</a>
    </div>

</div>

{% include 'base/form-categoria2.html' %}
