
<div id="featured">
    <div class="container">
        <header>
            <h2>Benvindo à sua biblioteca do YouTube</h2>
        </header>
        <p>Este é <strong>My Tube Library</strong>, um projeto de um sistema web, desenvolvido com Python e Django.</p>
        <p>Este sistema vai ser usado para organização dos seus canais e das suas playlists preferidas do YouTube,
            <br>e em um mesmo local ter acesso a várias informações,
            <br>tais como categoria, idioma, mídias, sites e outras redes sociais.</p>
        <!-- <hr/> -->
    </div>
</div>