<!-- Tweet -->
    <div id="tweet">
        <div class="container">
            <section>
                <blockquote>
                    António Calheiros Neves<br><br>
                    Desenvolvimento de Sistemas Web e Desktop
                </blockquote>
            </section>
        </div>
    </div>

<!-- Footer -->
    <div id="footer">
        <div class="container">
            <section>
                <header>
                    <h2 class="footer-h2">Contactos</h2>
                    <div class="contact contact-li">
                            <p class="fa fa-mobile-phone"> (+351) 912951631</p>
                            <p><a href="https://antoniocalheirosneves.herokuapp.com/" target="_blank" rel="noopener noreferrer"class="fa fa-globe"> antoniocalheirosneves.com</a></p>
                            <p class="fa fa-envelope"> antonio@antoniocalheirosneves.com</p>
                            <p class="fa fa-home"> Europe, USA, Brasil, South America</p>
                    </div>
                </header>
                <ul class="contact">
                    <li><a href="https://github.com/Antonio-Neves" target="_blank"
                        rel="noopener noreferrer" class="fa fa-github"></a></li>
                    <li><a href="https://www.linkedin.com/in/ansistemas/" target="_blank"
                        rel="noopener noreferrer" class="fa fa-linkedin-square"></a></li>
                    <li><a href="https://www.youtube.com/channel/UCrJ78GVGuJnyjDCikZEl1Ng"
                        target="_blank" rel="noopener noreferrer" class="fa fa-youtube"></a></li>
                </ul>
            </section>

        </div>
    </div>

<!-- Copyright -->
    <div id="copyright">
        <div class="container">
            Design: <a href="http://templated.co" target="_blank"
            rel="noopener noreferrer">TEMPLATED - Linear, </a>
            <a href="https://antoniocalheirosneves.herokuapp.com/" target="_blank" rel="noopener noreferrer"> António Calheiros Neves</a>
            | Image: <a href="https://wallhaven.cc" target="_blank" rel="noopener noreferrer"> Wallhaven</a>
            | © 2020 António Calheiros Neves: <a href=""> My Tube Library</a>
        </div>
    </div>