 {% load static %}

<link rel="icon" href="{% static 'base/images/cropped-Favicon-672-32x32.png' %}" sizes="32x32" />
<link rel="icon" href="{% static 'base/images/cropped-Favicon-672-192x192.png' %}" sizes="192x192" />
<link rel="apple-touch-icon" href="{% static 'base/images/cropped-Favicon-672-180x180.png' %}" />

<meta property="og:locale" content="pt_BR">
<meta property="og:url" content="https://mytubelibrary.herokuapp.com/">
<meta property="og:title" content="My Tube Library">
<meta property="og:site_name" content="Antonio Calheiros Neves">
<meta property="og:description" content="Organize your Youtube library. Antonio Calheiros Neves. Django System. Web Systems Developer, Europe, Brazil, USA.">
<meta property="og:image" content="https://res.cloudinary.com/toinocana/image/upload/v1641752628/MyTubeLibrary%20Photos/my-tube-library_seo.jpg">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:type" content="website">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="https://res.cloudinary.com/toinocana/image/upload/v1641752628/MyTubeLibrary%20Photos/my-tube-library_seo.jpg">
<meta name="twitter:title" content="My Tube Library">
<meta name="twitter:description" content="Organize your Youtube library. Antonio Calheiros Neves. Django System. Web Systems Developer, Europe, Brazil, USA.">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="Antonio Calheiros Neves">
<meta name="creator" content="Antonio Calheiros Neves">

<meta name="google-site-verification" content="vnvFnIVLSwDHGkBsH_eCyRwc_MbreOUBRPr3aZhFL6w" />
<meta name="robots" content="index, follow">
<meta name="description" content="Organize your Youtube library. Antonio Calheiros Neves. Django System. Web Systems Developer, Europe, Brazil, USA." />
<meta name="keywords" content="mytubelibrary, ansistemas, sites, site, django, python, web, sistemasweb, sistemas, canaa, carajas" />
<link rel="canonical" href="https://mytubelibrary.herokuapp.com/" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'base/bootstrap/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'base/bootstrap/css/bootstrap-grid.min.css' %}"/>
<link rel="stylesheet" href="{% static 'base/bootstrap/css/bootstrap-reboot.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static 'base/js/skel.min.js' %}"></script>
<script src="{% static 'base/js/skel-panels.min.js' %}"></script>
<script src="{% static 'base/js/init.js' %}"></script>

<noscript>
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'base/css/style-desktop.css' %}" />
</noscript>

