{% extends 'base/base_index_min.html' %}
{% load static %}

{% block titulo %}Agradecimentos{% endblock %}

{% block subtitulo_da_pagina %}Obrigado{% endblock %}

{% block conteudo %}

<div class="deus">

<p>Quero agradecer a Deus e dizer Obrigado, a um grupo de jovens que nos últimos anos mudaram a minha vida,
    com o seu conhecimento, com a sua disponibilidade, esforço e dedicação em ajudar com uma imensidão de conteúdo de grande qualidade,
    disponível gratuitamente na internet.
</p>

<p>Um dito chino cuenta que cúando el aprendiz está listo, el maestro aparece, eso es lo que me pasó.
    <br>Gracias <strong><a href="https://www.facebook.com/juan.pildorasinformaticas" target="_blank" rel="noopener">Juan Díaz</a></strong>,
    todo comenzó contigo.<br>
    Juan es  <strong><a href="https://www.pildorasinformaticas.es/" target="_blank" rel="noopener">Pildoras Informáticas</a></strong>
    y tiene sin duda uno de los más completos canales de <strong><a href="https://www.youtube.com/user/pildorasinformaticas" target="_blank" rel="noopener">YouTube</a>
    </strong>sobre la enseñanza de la programación.
</p>


<p>Obrigado Cláudio Rogério Carvalho Filho.
    <br>Referência no desenvolvimento desktop com Kivy e Python, e na programação em geral, um Professor exemplar, criador do projeto
    <strong><a href="http://excript.com/" target="_blank" rel="noopener">eXcript</a></strong>
    e do maior e<strong><a href="https://www.udemy.com/share/101r20BUseeFhQTX4=/" target="_blank" rel="noopener"> mais completo curso sobre Kivy </a>
    </strong>, atualmente no mercado.
    <strong><a href="https://www.youtube.com/channel/UCRu4BNG9k_BRUu-aCYJsgHg" target="_blank" rel="noopener">YouTube</a></strong>
</p>

<p>Impossível falar de Django, autonomia, freelancer, empreendedorismo, programação, Python, sem lembrar do
    <strong><a href="https://henriquebastos.net" target="_blank" rel="noopener">Henrique Bastos</a></strong> e
    <strong><a href="https://autonomize.se/produtos/welcome-to-the-django/em-breve/" target="_blank" rel="noopener">Welcome to the Django.</a></strong>
    <br>Canal <strong><a href="https://www.youtube.com/channel/UCEbLV4AfUhoxNb_-Ionw83g" target="_blank" rel="noopener">YouTube</a>
    </strong> -- <strong><a href="https://henriquebastos.net" target="_blank" rel="noopener">Site</a></strong> --  <strong>
        <a href="https://www.facebook.com/henriquebastos" target="_blank" rel="noopener">Facebook</a></strong> -- <strong>
        <a href="https://twitter.com/henriquebastos" target="_blank" rel="noopener">Twitter</a></strong> -- <strong>
        <a href="https://github.com/henriquebastos" target="_blank" rel="noopener">GitHub</a></strong>.
</p>

<p>Muito mais do que ensinar Python e Django estes dois jovens transmitem uma imensidade de conhecimento sobre a vida,
    sobre o dia a dia de um programador e sobre como alcançar um lugar de destaque na profissão.<br>
    Obrigado <strong><a href="https://www.youtube.com/channel/UCex749toAZQyjOE-607e27g" target="_blank" rel="noopener">Moacir Moda</a></strong>
    e <strong><a href="https://www.youtube.com/user/renzonuccitelli/about" target="_blank" rel="noopener">Renzo</a></strong>
    fundador do curso <strong><a href="https://www.python.pro.br/" target="_blank" rel="noopener">Python Pro</a></strong>
    e criador do curso grátis
    <strong><a href="https://www.python.pro.br/curso-de-python-gratis?utm_source=youtube-moacir&amp;utm_medium=description" target="_blank" rel="noopener">Python Birds</a></strong>.
</p>
</div>

{% endblock %}