{% extends 'base/base_index_min.html' %}

{% block titulo %}Alteração da senha{% endblock %}

{% block subtitulo_da_pagina %}Alteração da senha{% endblock %}

{% block conteudo %}

    {% include 'base/_messages.html' %}

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.errors }}
    </div>
    {% endif %}

    <form method="post" class="form" autocomplete="off">
    {% csrf_token %}

        <div class="row">
            <div class="col col-5">
                <div class="form-group">
                    <label for="old_password">Senha atual<span style="color: red;">*</span></label>
                    <input type="password" class="form-control" id="old_password" name="old_password" required autofocus>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="new_password1">Nova senha<span style="color: red;">*</span></label>
                    <input type="password" class="form-control" id="new_password1" name="new_password1" required>
                <small id="password-help" class="form-text text-muted">
                    Sua senha precisa conter pelo menos 8 caracteres, não pode ser inteiramente numérica, não pode ser uma senha comum nem parecida com os seus dados.
                </small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="new_password2">Repita a nova senha<span style="color: red;">*</span></label>
                    <input type="password" class="form-control" id="new_password2" name="new_password2" required>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn mr-2 btn-primary shadow-lg" name="btn_cadastro_canal">Alterar</button>
            <a class="btn btn-primary btncustom shadow-lg mr-1" role="button" href="{% url 'index' %}">Cancelar</a>
        </div>

    </form>

{% endblock %}