{% extends 'base/base_index_min.html' %}

{% block titulo %}Recuperar senha{% endblock %}

{% block subtitulo_da_pagina %}Recuperar a senha{% endblock %}

{% block conteudo %}

    {% include 'base/_messages.html' %}

    <p>Esqueceu sua senha? Forneça o seu endereço de email abaixo, e será enviado um email com instruções para configurar uma nova.</p>

    <form class="form" method="POST" action="{% url 'password-reset' %}" autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="col col-md-4">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" required autofocus>
                </div>
            </div>
        </div>

        <div>
            <button class="btn btn-primary mr-2" type="submit">Recuperar a senha</button>
        </div>

    </form>

{% endblock %}
