{% extends 'base/base_index_min.html' %}
{% load static %}

{% block titulo %}Apagar Conta{% endblock %}

{% block subtitulo_da_pagina %}
    {{ object.first_name }}
    <br><br><br>
    Tem a certeza que deseja apagar a sua conta?
    <br><br><br>
    Todos os seus dados serão removidos.
{% endblock %}

{% block conteudo %}

    <div class="apagar-canal">
        <form method="POST" class="form" name="form_canal">
            {% csrf_token %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary btncustom shadow-lg mr-2" name="btn_cadastro_canal">Sim</button>
                <a class="btn btn-primary btncustom shadow-lg mr-1" role="button" href="{% url 'index'%}">Cancelar</a>
            </div>
        </form>
    </div>

{% endblock %}